/**
 * Site header
 */


 .top_nav {
  position: fixed;
   background: rgba(0, 0, 0, .5);
   opacity: 0.9;
   width: 100%;
   z-index: 1;
   top: 0;
   display: flex;
 }
 
 body {
  margin: 0;
  font-family: Myriad Pro Light;
  font-size: 14px;
}

 .static_background {
  /* Set the background image */
  background-image: url('../assets/bg1.jpg'); /* Replace 'path-to-your-image.jpg' with your image file path */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-attachment: fixed; /* Fixed background */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  height: 100vh; /* Set the body height to the viewport height */
  overflow: hidden; /* Hide overflow content */
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #151515; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #252525; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.logo-container
 {


  display: inline-flex;
  flex-direction: column;
  align-items: left;
  opacity: 0.9;
  z-index: 1;
  margin: 5px;
  cursor: pointer;

  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.logo {
  height: 100px; /* set the width of your logo */
  width: auto;
}

.logo-container:active{
  touch-action: manipulation;
  outline: none !important;
}
  
.bottom_nav {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0.9;
  width: 100%;
  padding: 10px;

  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #222222;
}

h1 
  {
    font-family: "Myriad Pro Light", sans-serif;;
    font-size: 32px;
    margin-top:  2px;
    margin-bottom:  2px;
    font-weight: bold;
  }
   
   h2
   {
    font-family: "Myriad Pro Light", sans-serif;;
    font-size: 24px;
    margin-top: 2px;
    margin-bottom:  2px;
    font-weight: bold;
   }
  
   h3
   {
    font-family: "Myriad Pro Light", sans-serif;;
    font-size: 16px;
    margin-top:  2px;
    margin-bottom:  2px;
   }
   
   p {

    padding: 5px;
    font-family: "Myriad Pro Light", sans-serif;;
    font-size: 14px;
    margin : 0px;
    font-weight: normal;
    color: #CCCCCC;
    
   }

.content {
  font-family: "Myriad Pro Light", "sans-serif";
  font-size: 24px;
  color: #DDDDDD;
  font-weight: bold;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  padding-top: px; /* add 20 pixels of padding around the content */
  padding-left: 20px; /* add 20 pixels of padding around the content */
  padding-right: 20px; /* add 20 pixels of padding around the content */
  padding-bottom: 20px; /* add 20 pixels of padding around the content */

  top: 128px;
  left: 20px; /* set the same value as the left property of .logo-container */
  right: 20px; /* set the same value as the left property of .logo-container */
  bottom: 80px;
  width: 75%;
  max-width: 800px; /* set the maximum width of the text container to 33% */
  backdrop-filter: blur(20px);
  overflow: hidden;

  transition: transform 0.2s ease ;
  overflow: auto;
 
}


/* Add the media query for .content here */
@media (max-width: 768px) {
  /* Centering styles for screens up to 768px wide (typical mobile devices) */
  .content {
    max-width: auto; /* set the maximum width of the text container to 33% */
    top: 96px;
    width: auto; /* Reset the width */
 
  }

  .logo {
    height: 72px; /* set the width of your logo */
    width: auto;
  }
}



.content li {
  font-family: "Myriad Pro Light", sans-serif;;
  font-size: 14px;
  font-weight: bold;
  color: #e1e1e1;
}


.m1l {
  border-style: solid;
border-width: thin;

  border-color: #3d4854;
  margin-top: 1px;
  margin-bottom: 1px;
  padding:10px;
  border-radius: 0%;
  border-left:solid rgb(58, 57, 57) 2px;
  border-right:solid rgb(58, 57, 57) 0px;
  border-top:solid rgb(58, 57, 57) 2px;
  border-bottom:solid rgb(58, 57, 57) 0px;
}
.m1r {
  border-style: solid;
border-width: thin;

  border-color: #3d4854;
  margin-top: 1px;
  margin-bottom: 1px;
  padding:10px;
  border-radius: 0%;
  border-left:solid rgb(58, 57, 57) 0px;
  border-right:solid rgb(58, 57, 57) 2px;
  border-top:solid rgb(58, 57, 57) 2px;
  border-bottom:solid rgb(58, 57, 57) 0px;
}

.m2l {
  border-style: solid;
border-width: thin;

  border-color: #3d4854;
  margin-top: 1px;
  margin-bottom: 1px;
  padding:2px;
  border-radius: 0%;
  border-left:solid rgb(58, 57, 57) 1px;
  border-right:solid  rgb(58, 57, 57) 0px;
  border-top:solid  rgb(58, 57, 57) 1px;
  border-bottom:solid  rgb(58, 57, 57) 0px;
}

.m2r {
  border-style: solid;
border-width: thin;

  border-color: #3d4854;
  margin-top: 1px;
  margin-bottom: 1px;
  padding:2px;
  border-radius: 0%;
  border-left:solid rgb(58, 57, 57) 0px;
  border-right:solid  rgb(58, 57, 57) 1px;
  border-top:solid  rgb(58, 57, 57) 1px;
  border-bottom:solid  rgb(58, 57, 57) 0px;
}





  /* CSS for the navigation links */
  .navigation-links {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Push the links to the right */
    flex-grow: 1; /* Allow links to grow and occupy available space */
    gap: 10px; /* Adjust the spacing between links */
    margin-right: 20px;
  }
  
  .nav-link {
    font-family: "Myriad Pro Light", sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: #CCCCCC;
    text-decoration: none;
  }
  
  @media(max-width: 768px) {
    .nav-link {
      font-size: 16px;
    }
  }
  /* Change font weight to bold on hover */
  .nav-link:hover {
    font-weight: bold;
    color: #1da1f2; /* Change color on hover */
    transition: linear 0.2s;
  }


  .bottom_text {
    font-family: "Myriad Pro Light", sans-serif;
      font-size: 22px;
      font-weight: bold;
      margin-right: auto;
      color: #acb5bb;
    
    }
    
    .bottom_text:hover
    {
      color: #acb5bb;
      cursor: pointer;
    }
    
  .social-icons {
    font-size: 32px;
    color: #acb5bb;
    margin-right: 20px;
  }
  
  
  .social-icon:hover {
    color: #1da1f2; /* Twitter blue */
  }
  
  .social-icon:last-child {
    margin-right: 0;
  }
  
  .social-icon:nth-child(3) {
    margin-left:5px;
  }
  
  .social-icon:nth-child(2) {
    margin-left:5px;
  }
  
  .social-icon:nth-child(1) {
    margin-left:5px;
  }
  
  a
  {
    color: #acb5bb;
  }
  
  a:visited
  {
    color: #acb5bb;
  }
  
  a:focus
  {
    color: #acb5bb;
  }
  a:hover {
    color: #1da1f2; /* Gmail red */
  }
  
  
  .social-icon:nth-child(1):hover {
    color: #1da1f2; /* Gmail red */
  }
  
  .social-icon:nth-child(2):hover {
    color: #1da1f2; /* Gmail red */
  }
  
  
  .social-icon:last-child {
    margin-right: 0;
  }

  

